<!DOCTYPE html>
<html>

<head>
    <title>Cluster Results</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Download File</h1>
    <form action="{{ url_for('download_merged_df') }}" method="post">
        <label for="file_format">Select File Format:</label>
        <select name="file_format" id="file_format">
            <option value="csv">CSV</option>
            <option value="excel">Excel</option>
        </select>
        <br><br>
        <button type="submit">Download</button>
    </form>
    <!-- <a href="{{ url_for('download_cluster') }}">Download Merged DataFrame</a> -->
    <h1>Cluster Results</h1>
    <table>
        <thead>
            <tr>
                <th>Cluster</th>
                <th>Total Data Points</th>
            </tr>
        </thead>
        <tbody>
            {% for cluster, data in clusters.items() %}
            <tr>
                <td>{{ cluster }}</td>
                <td>{{ data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Add the visualization here -->
    <img src="{{ plot_filename }}" alt="Cluster Plot">

    <h2>Cluster Results</h2>
    <table>
        <thead>
            <tr>
                <th>Buyer ID</th>
                <th>Recency</th>
                <th>Frequency</th>
                <th>MonetaryValue</th>
                <th>Length</th>
                <th>Cluster</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in data_lrfm.iterrows() %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ row['Recency'] }}</td>
                <td>{{ row['Frequency'] }}</td>
                <td>{{ row['MonetaryValue'] }}</td>
                <td>{{ row['Length'] }}</td>
                <td>{{ row['Cluster'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</body>

</html>